.ui.teal.button:focus,.ui.teal.button:active{
  background-color:#00b5ad;
}
.ui.basic.teal.button:hover{
  background:#00b5ad;
}
.ui.inline.dropdown .dropdown.icon{
  display: none;
}
.ui.dropdown .menu>.item>.flag, .ui.dropdown .menu>.item>.icon, .ui.dropdown .menu>.item>.image, .ui.dropdown .menu>.item>.label, .ui.dropdown .menu>.item>img, .ui.dropdown>.text>.flag, .ui.dropdown>.text>.icon, .ui.dropdown>.text>.image, .ui.dropdown>.text>.label, .ui.dropdown>.text>img{
  margin-right: 0px!important;
}